html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "figtree", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    line-height: 2em;
    font-size: 8rem;
    font-family: "figtree", sans-serif;
    font-weight: 800;
}

header {
    text-align: center;
    padding: 10rem;
}
header p {
    font-size: 1.5rem;
    font-family: "Space mono", sans-serif;
}

#skills{
    text-align: center;
}

#skills h2 {
    font-size: 2rem;
    line-height: 5rem;
}

.allskills {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.skilltype{
    font-size: 1.5rem;
    width: 20%;
}
.skilltype li {
    display: inline-flex;
    padding: .5rem;
    font-size: 1rem;
    flex-wrap: wrap;
}
.skilltype ul {
    padding-top: 1.5rem;
}

.skill {
    border-color: #264653;
    border: 1px solid;
    border-radius: 2rem;
    margin: .2rem;
    background-image:linear-gradient(45deg, #2a9d8f00, #2a9d8f00);
    transition: background-image 10s 10s;
}

.skill:hover{
    background-image: linear-gradient(45deg, #2a9d8f, #2a9d8f00);
}

#professional-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.company {
    width: 75%;
}

.company p {
    text-align: center;
}

#professional-experience h2 {
    font-size: 2rem;
    line-height: 3rem;
}

.jobtitle {
    font-size: 1.5em;
    line-height: 2rem;
    text-align: center;
    padding: 1rem 0 1.2rem 0;     
}

#certifications {
    text-align: center;
    padding: 30px;
    padding-top: 10px;
}
#certifications h2 {
    font-size: 2rem;
    line-height: 3rem;
}

#certifications h3 {
    font-weight: bold;
}


@media (max-width:1024px) {
    .allskills {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }
    .skilltype {
        width: 60%;
        padding-bottom: 2rem;
    }
}

@media (max-width:900px) {
    h1 {
        line-height: 1em;
    }
    header {
        text-align: left;
        padding-left: 2em;
        padding-bottom: 2rem;
        padding-right: 2em;
    }
}

@media (max-width:450px) {
    h1{
        font-size: 6rem;
    }
    header p {
        font-size: 1rem;
    }
}
