html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "figtree", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    line-height: 2em;
    font-size: 8rem;
    font-family: "figtree", sans-serif;
    font-weight: 800;
}

header {
    text-align: center;
    padding: 10rem;
}
header p {
    font-size: 1.5rem;
    font-family: "Space mono", sans-serif;
}

#skills{
    text-align: center;
}

#skills h2 {
    font-size: 2rem;
    line-height: 5rem;
}

.allskills {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.skilltype{
    font-size: 1.5rem;
    width: 20%;
}
.skilltype li {
    display: inline-flex;
    padding: .5rem;
    font-size: 1rem;
    flex-wrap: wrap;
}

#professional-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company {
    width: 70%;
}


#professional-experience h2 {
    font-size: 2rem;
    line-height: 5rem;
}

.jobtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}



